.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    left:0;
    bottom: 0;
    top: 85px;
    width: 100px;
    background-color: white;
    z-index: 101;
    padding-bottom: 120px;
}
.sidebar-link img{
    padding-left: 20px;
    height: 70px;
    width: 50px;
    margin-bottom: 1px;
    justify-self: center;
    
}
.sidebar-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sidebar-link:hover{
    background-color: rgb(240, 240, 240);
}
.sidebar-link span{
    font-family: roboto;
    font-size: 15px;
    flex: 1;
    padding-left: 13px;
}
#msc{
    padding-left: 5px;
}